body {
    font-family: "Neuropol X", sans-serif;
    color: #fff;
    background-color: #000;
    background-size: cover;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .container1, .container2, .container3, .footer, .aboutborder {
        height: auto;
    }

    .aboutcontainer {
        height: auto;
        max-width: 100%;
    }

    .aboutborder {
        width: 80%;
    }
}

.fontsize {
    font-size: 12px;
}

.headtitle, .taskbar a {
    color: #fff;
    text-decoration: none;
}

.taskbar {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskbar a {
    font-weight: 700;
    font-size: 16px;
    padding: 1%;
    text-align: center;
}

.container1 {
    display: flex;
    height: 30vh;
}

.aboutborder, .aboutcontainer {
    align-items: center;
    margin: 0 auto;
}

.aboutcontainer {
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 55vh;
    padding: 0 20px;
    max-width: 800px;
}

.aboutcontainer p {
    text-align: center;
    font-size: 20px;
}

.abouthr {
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.aboutborder {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0, 0, 0, .1);
    width: 50%;
}

.container2, .container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer hr {
    width: 100%;
}

.container3 {
    height: 10vh;
}

.p {
    text-align: center;
    font-size: 35px;
}

.button, nav li a {
    color: #fff;
    text-decoration: none;
}

.button, nav ul {
    background-color: #410909;
}

.button {
    padding: 12px 24px;
    display: inline-block;
    font-size: 16px;
    margin: 16px 2px;
    cursor: pointer;
    border-radius: 8px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
}

.button:hover, nav li a:hover {
    transform: scale(1.1);
}

.background, header {
    position: fixed;
    top: 0;
    left: 0;
}

.background {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: relative;
    z-index: 1;
}

header {
    text-align: center;
    color: #fff;
    width: 100%;
    background-color: #000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear .3s, opacity .3s linear;
}

.show-header {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s, 0s;
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    padding: 14px 16px;
    transition: transform .3s;
}

header, main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

img {
    max-width: 50%;
    height: auto;
    margin-top: 10px;
}

.logo {
    margin-right: 10px;
}

.logo img {
    width: 80px;
    height: 74px;
}

.title, nav li a, nav ul {
    text-align: center;
}

.title {
    margin-top: 2em;
    font-size: 20px;
}

.container4 h2, .popup, form {
    display: flex;
    align-items: center;
}

.popup {
    top: 0;
    left: 0;
    color: #fff;
    text-align: center;
    padding: 10px;
    justify-content: center;
    z-index: 999;
}

.popup p {
    margin: 0;
}

.weblink {
    color: #fff;
    text-decoration: none;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.weblink:hover {
    text-decoration: underline;
}

.container4 {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 100px rgba(0, 0, 0, .1);
    width: 300px;
}

.container4 h2, form {
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, .5);
}
